.ipynb_checkpoints/
__pycache__/
temp/Abundances_temp_Ca.png
temp/Abundances_temp_Fe.png
temp/Abundances_temp_Mg.png
temp/Abundances_temp_O.png
temp/Abundances_temp_Si.png
temp/Corner_temp.png
temp/MDF_temp_Al.png
temp/MDF_temp_Ar.png
temp/MDF_temp_B.png
temp/MDF_temp_Be.png
temp/MDF_temp_C.png
temp/MDF_temp_Ca.png
temp/MDF_temp_Cl.png
temp/MDF_temp_Co.png
temp/MDF_temp_Cr.png
temp/MDF_temp_Cu.png
temp/MDF_temp_F.png
temp/MDF_temp_Fe.png
temp/MDF_temp_Ga.png
temp/MDF_temp_Ge.png
temp/MDF_temp_He.png
temp/MDF_temp_K.png
temp/MDF_temp_Li.png
temp/MDF_temp_Mg.png
temp/MDF_temp_Mn.png
temp/MDF_temp_N.png
temp/MDF_temp_Na.png
temp/MDF_temp_Ne.png
temp/MDF_temp_Ni.png
temp/MDF_temp_O.png
temp/MDF_temp_P.png
temp/MDF_temp_S.png
temp/MDF_temp_Sc.png
temp/MDF_temp_Si.png
temp/MDF_temp_Ti.png
temp/MDF_temp_V.png
temp/MDF_temp_Zn.png
temp/SFR_temp.png
temp/yield_temp_Al.png
temp/yield_temp_Ar.png
temp/yield_temp_B.png
temp/yield_temp_Be.png
temp/yield_temp_C.png
temp/yield_temp_Ca.png
temp/yield_temp_Cl.png
temp/yield_temp_Co.png
temp/yield_temp_Cr.png
temp/yield_temp_Cu.png
temp/yield_temp_F.png
temp/yield_temp_Fe.png
temp/yield_temp_Ga.png
temp/yield_temp_Ge.png
temp/yield_temp_He.png
temp/yield_temp_K.png
temp/yield_temp_Li.png
temp/yield_temp_Mg.png
temp/yield_temp_Mn.png
temp/yield_temp_Model #1.png
temp/yield_temp_Model #2.png
temp/yield_temp_Model #3.png
temp/yield_temp_N.png
temp/yield_temp_Na.png
temp/yield_temp_Ne.png
temp/yield_temp_Ni.png
temp/yield_temp_O.png
temp/yield_temp_P.png
temp/yield_temp_S.png
temp/yield_temp_Sc.png
temp/yield_temp_Si.png
temp/yield_temp_Ti.png
temp/yield_temp_V.png
temp/yield_temp_Zn.png
